<html>
    <head>
        <title>Cube Summation</title>
        <style type="text/css">
            .cube {
                height: 480px;
                position: relative;
                width: 600px;
                top: 200px;
            }
            .rightFace,.leftFace,.topFace div {
                padding: 10px;
            }
            .rightFace,.leftFace,.topFace {
                position: absolute;
            }
            .leftFace {
                -webkit-transform: skewY(30deg);
                -moz-transform: skewY(30deg);
                background-color: #9AB;
            }
            .rightFace {
                -moz-transform: skewY(-30deg);
                -webkit-transform: skewY(-30deg);
                background-color: #89A;
            }
            .topFace div {
                -moz-transform: skewY(-30deg) scaleY(1.16);
                -webkit-transform: skewY(-30deg) scaleY(1.16);
                background-color: #ABC;
            }
            .topFace {
                -moz-transform: rotate(60deg);
                -webkit-transform: rotate(60deg);
            }
            .columna{
                border:1px solid black;
                text-align: center;
                width: 30px;
            }
        </style>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
        <script type="text/javascript">
                    var app = angular.module('cubeApp', []);
                    app.controller('cubeController', function($scope,$http) {
                    $scope.numberOfTestCases = 0;
                    $scope.result=[];
                    $scope.matrix = [[]];
                            $scope.testCases = [];
                            $scope.styleTopFace = {

                            };
                    $scope.fail=false;
                    $scope.createUpdateObject = function(){
                    return {data:[{x:0, y:0, z:0, v:0}], type:'UPDATE'};
                    }
                    $scope.createQueryObject = function(){
                    return {data:[{x:0, y:0, z:0, v:0}, {x:0, y:0, z:0, v:0}], type:'QUERY'};
                    }
                    $scope.addQueryAction = function(it){
                    $scope.testCases[it].operations.push($scope.createQueryObject());
                    };
                            $scope.addUpdateAction = function(it){
                            $scope.testCases[it].operations.push($scope.createUpdateObject());
                            };
                            $scope.loadTestCases = function(){
                            $scope.testCases = [];
                                    for (var i = 0; i < $scope.numberOfTestCases; i++){
                            $scope.testCases.push({matrixLength:0,
                                    height: 180,
                                    width: 180,
                                    top: - 158,
                                    top1:200,
                                    leftT:400,
                                    leftR: 500,
                                    leftL:300,
                                    leftT:400,
                                    operations:[]});
                            }
                            };
                            $scope.createStyle = function(w, h, l){
                            return "{width:'" + w + "px',height:'" + h + "px',left:'" + l + "px'}";
                            }
                    $scope.createStyleLeft = function(l){
                    return "{left:'" + l + "px'}";
                    }
                    $scope.createStyleTop = function(t){
                    return "{top:'" + t + "px'}";
                    }
                    $scope.createStyleTopLeft = function(t, l){
                    return "{top:'" + t + "px',left:'" + l + "px'}";
                    }
                    $scope.creatArray = function(length){
                    var arr = [];
                            for (var i = 0; i < length; i++){
                    arr[i] = i;
                    }
                    return arr;
                    }
                    $scope.resize = function(it){
                    $scope.testCases[it].height = 3.6;
                            $scope.testCases[it].width = 3.6;
                            $scope.testCases[it].top = - 18.7;
                            $scope.testCases[it].top1 = 130;
                            $scope.testCases[it].leftR = 407.95;
                            $scope.testCases[it].leftL = 384;
                            $scope.testCases[it].leftT = 395.45;
                            for (var i = 0; i < $scope.testCases[it].matrixLength; i++){
                    $scope.testCases[it].height = $scope.testCases[it].height + 25.2;
                            $scope.testCases[it].width = $scope.testCases[it].width + 25.2;
                            $scope.testCases[it].top = $scope.testCases[it].top - 19.9;
                            $scope.testCases[it].top1 = $scope.testCases[it].top1 + 10;
                            $scope.testCases[it].leftR = $scope.testCases[it].leftR + 13.15;
                            $scope.testCases[it].leftL = $scope.testCases[it].leftL - 12;
                            $scope.testCases[it].leftT = $scope.testCases[it].leftT + 0.65;
                    }
                    }
                    $scope.updateObject = $scope.createUpdateObject();
                            $scope.queryObject = $scope.createQueryObject();
                            $scope.findValue = function(x, y, z, it){
                            for (var i = 0; i < $scope.testCases[it].operations.length; i++){
                            var operation = $scope.testCases[it].operations[i];
                                    if (operation.type === 'UPDATE' && parseInt(operation.data[0].x)-1 == x && parseInt(operation.data[0].y)-1 == y && parseInt(operation.data[0].z)-1 == z){
                            return operation.data[0].v;
                            }
                            }
                            return 0;
                            };
                            $scope.findValueRight = function(l, y, it){
                            var values = $scope.creatArray(l);
                                    for (var i = 0; i < l; i++){
                            values[i] = $scope.findValue(i, y, 0, it)
                            }
                            return values;
                            };
                            $scope.findValueLeft = function(l, y, it){
                            var values = $scope.creatArray(l);
                                    for (var i = 0; i < l; i++){
                            values[i] = $scope.findValue(0, y, l - i - 1, it)
                            }
                            return values;
                            };
                            $scope.findValueTop = function(l, y, it){
                            var values = $scope.creatArray(l);
                                    for (var i = 0; i < l; i++){
                            values[i] = $scope.findValue(l - y - 1, 0, l - i - 1, it)
                            }
                            return values;
                            };
                            $scope.validate = function( value,target){
                                if(value==''){
                                    return value;
                                } else  if(parseInt(value)<=0){
                                    alert("El valor no puede ser menor o igual que cero");
                                    return 0;
                                }else if(parseInt(value)>parseInt(target)){
                                    alert("El valor no pueder ser mayor "+target);
                                    return 0;
                                }
                                return value;
                            };
                             $scope.validateQuery= function( value,target,flag,maxLenght){
                                if(value==''){
                                    return value;
                                }else if(flag=='0'){
                                    return $scope.between(value,0,target);
                                }else{
                                    return $scope.between(value,target,maxLenght);
                                }
                                
                                
                                
                                return value;
                            };
                            $scope.between=function(value,value1,value2){
                                if(value==''){
                                    return value;
                                }else if(parseInt(value)<parseInt(value1)||parseInt(value)>parseInt(value2)){
                                    alert("el valor debe estar en el rango de "+value1+" a "+value2);
                                    return 0;
                                }
                                return value;
                            };
                            $scope.send=function(){
                                $http.post('/Cube/webresources/cube',$scope.testCases).success(function(data, status, headers, config) {
                                        $scope.result = data;
                                        alert(data);
                                }).error(function(data, status, headers, config) {
                                    alert( "failure message: " + JSON.stringify({data: data}));
                                });
                            };
                    });        </script>
    </head>
    <body ng-app="cubeApp" ng-controller="cubeController">
        <div>
            <img src="help.png" alt="Help" style="position:fixed;left:300px;width: 100px;height: 100px" />
            Test Cases:<input ng-model="numberOfTestCases" ng-change="loadTestCases();numberOfTestCases=between(numberOfTestCases,1,50)"/>
            <br/>
            <br/>
            <br/>
        </div>
        <div>
            <p>{{numberOfTestCases}}</p>
            <div id="divTestCases" ng-repeat="testCase in testCases track by $index">
                <table>
                    <tr>
                        <td>
                            <input ng-model="testCase.matrixLength" size="3" ng-change="resize($index);testCase.matrixLength=between(testCase.matrixLength,1,100)"/>
                            <input ng-model="testCase.operations.length" readonly="true" size="3"/><br/>
                            <button ng-click="addQueryAction($index)">Add Query</button>
                            <button ng-click="addUpdateAction($index)">Add Update</button>
                            <div ng-repeat="operation in testCase.operations">
                                <span ng-if="operation.type == 'UPDATE'">
                                    {{operation.type}}
                                    x<input type="input" size="3" ng-model="operation.data[0].x" ng-change="operation.data[0].x=validate(operation.data[0].x,testCase.matrixLength)"/>
                                    y<input type="input" size="3" ng-model="operation.data[0].y" ng-change="operation.data[0].y=validate(operation.data[0].y,testCase.matrixLength)"/>
                                    z<input type="input" size="3" ng-model="operation.data[0].z" ng-change="operation.data[0].z=validate(operation.data[0].z,testCase.matrixLength)"/>
                                    v<input type="input" size="3" ng-model="operation.data[0].v" />
                                </span>
                                <span ng-if="operation.type == 'QUERY'">
                                    {{operation.type}}
                                    x1<input type="input" size="3" ng-model="operation.data[0].x"/>
                                    y1<input type="input" size="3" ng-model="operation.data[0].y" />
                                    z1<input type="input" size="3" ng-model="operation.data[0].z" />
                                    x2<input type="input" size="3" ng-model="operation.data[1].x" />
                                    y2<input type="input" size="3" ng-model="operation.data[1].y" />
                                    z2<input type="input" size="3" ng-model="operation.data[1].z" />
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="cube" ng-style="$eval(createStyleTop(testCase.top1))">
                                <div class="topFace"  ng-style="$eval(createStyleTopLeft(testCase.top, testCase.leftT))"> 
                                    <div ng-style="$eval(createStyle(testCase.width, testCase.height))">
                                        <table class="tabla">	
                                            <tr ng-repeat="i in creatArray(testCase.matrixLength)">
                                                <td class="columna" ng-repeat="j in findValueTop(testCase.matrixLength, i, $parent.$index) track by $index">{{j}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="leftFace" ng-style="$eval(createStyle(testCase.width, testCase.height, testCase.leftL))"> 
                                    <table class="tabla">	
                                        <tr ng-repeat="i in creatArray(testCase.matrixLength)">
                                            <td class="columna" ng-repeat="j in findValueLeft(testCase.matrixLength, i, $parent.$index) track by $index">{{j}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="rightFace" ng-style="$eval(createStyle(testCase.width, testCase.height, testCase.leftR))"> 
                                    <table class="tabla">	
                                        <tr ng-repeat="i in creatArray(testCase.matrixLength)" style="height:20px">
                                            <td class="columna" ng-repeat="j in findValueRight(testCase.matrixLength, i, $parent.$index) track by $index">{{j}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <hr size="1"/>
                </table>
            </div>
        </div>
         <hr size="1"/>
         <p id="result" ng-repeat="r in result track by $index">{{r}}</p>
         <button ng-click="send();">Calcular</button>
    </body>
</html>