<html>
    <head>
        <title>Cube Summation</title>
        <link type="text/css" rel="stylesheet" href="resources/css/cube.css">     
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
        <script type="text/javascript" src="resources/js/cubeApp.js"></script>
    </head>
    <body ng-app="cubeApp" ng-controller="cubeController">
        <div>
            <img src="resources/img/help.png" alt="Help" style="position:fixed;left:300px;width: 100px;height: 100px" />
            Test Cases:<input ng-model="numberOfTestCases" ng-change="loadTestCases(); numberOfTestCases = between(numberOfTestCases, 1, 50)"/>
            <br/>
            <br/>
            <br/>
        </div>
        <div>
            <p>{{numberOfTestCases}}</p>
            <div id="divTestCases" ng-repeat="testCase in testCases track by $index">
                <table>
                    <tr>
                        <td>
                            <input ng-model="testCase.matrixLength" size="3" ng-change="resize($index); testCase.matrixLength = between(testCase.matrixLength, 1, 100)"/>
                            <input ng-model="testCase.operations.length" readonly="true" size="3"/><br/>
                            <button ng-click="addQueryAction($index)">Add Query</button>
                            <button ng-click="addUpdateAction($index)">Add Update</button>
                            <div ng-repeat="operation in testCase.operations">
                                <span ng-if="operation.type == 'UPDATE'">
                                    {{operation.type}}
                                    x<input type="input" size="3" ng-model="operation.data[0].x" ng-change="operation.data[0].x = validate(operation.data[0].x, testCase.matrixLength)"/>
                                    y<input type="input" size="3" ng-model="operation.data[0].y" ng-change="operation.data[0].y = validate(operation.data[0].y, testCase.matrixLength)"/>
                                    z<input type="input" size="3" ng-model="operation.data[0].z" ng-change="operation.data[0].z = validate(operation.data[0].z, testCase.matrixLength)"/>
                                    v<input type="input" size="3" ng-model="operation.data[0].v" ng-change="operation.data[0].v = validateValue(operation.data[0].v)"/>
                                </span>
                                <span ng-if="operation.type == 'QUERY'">
                                    {{operation.type}}
                                    x1<input type="input" size="3" ng-model="operation.data[0].x" ng-change="operation.data[0].x=validateQuery(operation.data[0].x,operation.data[1].x,testCase.matrixLength,'x')"/>
                                    y1<input type="input" size="3" ng-model="operation.data[0].y" ng-change="operation.data[0].y=validateQuery(operation.data[0].y,operation.data[1].y,testCase.matrixLength,'y')"/>
                                    z1<input type="input" size="3" ng-model="operation.data[0].z" ng-change="operation.data[0].z=validateQuery(operation.data[0].z,operation.data[1].z,testCase.matrixLength,'z')"/>
                                    x2<input type="input" size="3" ng-model="operation.data[1].x" />
                                    y2<input type="input" size="3" ng-model="operation.data[1].y" />
                                    z2<input type="input" size="3" ng-model="operation.data[1].z" />
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="cube" ng-style="$eval(createStyleTop(testCase.top1))">
                                <div class="topFace"  ng-style="$eval(createStyleTopLeft(testCase.top, testCase.leftT))"> 
                                    <div ng-style="$eval(createStyle(testCase.width, testCase.height))">
                                        <table class="tabla">	
                                            <tr ng-repeat="i in creatArray(testCase.matrixLength)">
                                                <td class="columna" ng-repeat="j in findValueTop(testCase.matrixLength, i, $parent.$index) track by $index">{{j}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="leftFace" ng-style="$eval(createStyle(testCase.width, testCase.height, testCase.leftL))"> 
                                    <table class="tabla">	
                                        <tr ng-repeat="i in creatArray(testCase.matrixLength)">
                                            <td class="columna" ng-repeat="j in findValueLeft(testCase.matrixLength, i, $parent.$index) track by $index">{{j}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="rightFace" ng-style="$eval(createStyle(testCase.width, testCase.height, testCase.leftR))"> 
                                    <table class="tabla">	
                                        <tr ng-repeat="i in creatArray(testCase.matrixLength)" style="height:20px">
                                            <td class="columna" ng-repeat="j in findValueRight(testCase.matrixLength, i, $parent.$index) track by $index">{{j}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <hr size="1"/>
                </table>
            </div>
        </div>
        <hr size="1"/>
        <p id="result" ng-repeat="r in result track by $index">{{r}}</p>
        <button ng-click="send();">Calcular</button>
    </body>
</html>